/*** Base Layout ***/
.hbox, .vbox {
  overflow: hidden;
}
.hbox {
  width: 100%;
  clear: both;
}
.hbox > * {
  height: 100%;
  float: left;
  overflow: auto;
}
.vbox > * {
  display: block;
}
.panel {
  position: relative;
  padding: 1rem;
}

/*** Mr. Data Converter ***/
html, body {
  height: 100%;
}
html {
  background: #141414 url('../images/background.jpg') no-repeat;
  
  background: rgb(40, 44, 123);
  font-family: Calibri, Helvetica, sans-serif;
}
body {
  margin: 0;
}
body * {
  box-sizing: border-box;
}
a[href] {
  text-decoration: none;
}
a[href]:hover {
  opacity: 0.8;
  text-decoration: underline;
}
code {
  font-size: 90%;
}
h1 {
  color: #dedede;
  font: bold 44px Cambria, Palatino, serif;
  line-height: 1;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px #000;
}
hr {
  height: 1px;
  background: #ccc;
  border: 0;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
}
input[type=radio] {
  margin-left: 0.5rem;
}
p {
  font-size: 16px;
}
#base {
  min-width: 586px;
  height: 100%;
}

/*** Header ***/
#header {
  width: 20%;
  min-width: 254px;
  color: #fff;
}
#header a {
  color: #4078c0;
}
#header h3 {
  margin: 1rem 0;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
}
#header p {
  color: #ccc;
}
#description p {
  margin-bottom: 1rem;
}

/*** Settings ***/
#settings label {
  font-weight: initial;
  white-space: nowrap;
}
#settings p {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}
#settings .settings-group p {
  padding-left: 1rem;
}

/*** Converter ***/
.group-header {
  width: 100%;
  background: #5f255c url('../images/header_gradient.png');
  background-size: auto 100%;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  
  background: rgb(92, 98, 184);

}
.group-header a {
  /* div encasing these links, not sure on priority*/
  color: #5c62b8;
  border: 1px solid #8f93dd;
  /*border: 1px solid rgb(143, 147, 221);*/
  padding: 0.2em;
  /*background-color: #ffffff82;*/
  /*#5c62b8 !important;*/
  background: rgb(224, 225, 249);

}
.group-header .subhead {
  font-size: 14px;
  margin-left: 0.5rem;
  opacity: 0.7;
}
.group-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-input {
  width: 100%;
  /*background-color: #c9b7c7;*/
  border: none;
  -moz-box-shadow: 1px 1px 10px #333 inset;
  -webkit-box-shadow: 1px 1px 10px #333 inset;
  box-shadow: 1px 1px 10px #333 inset;
  color: #664d63;
  /*font-family: Consolas, Courier New, monospace;*/
  font-family: Andale Mono, Courier, monospace;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  /*text-shadow: 0 1px 0 #ded4dd;*/
}
#converter {
    background: rgba(204, 206, 255, 0.91);
  float: none;
}
#converter > .wrapper {
  height: 100%;
}
#converter > .wrapper > * {
  display: none;
}
#converter.loaded > .wrapper {
  /*min-height: 192px;
  border-color: #000 #666 #666 #000;
  border-style: solid;
  border-width: 2px;*/
}
#converter.loaded > .wrapper > * {
  display: block;
}
#input-header {
  margin-top: -10px;
  height: 43px;
  line-height: 43px;
}
#data-input {
  /*height: calc(50% - 43px);*/
  height: 100px;
  min-height: 43px;
}
#output-header {
  height: 47px;
  line-height: 47px;
}
#data-output {
  /*height: calc(50% - 47px);*//*not working?*/
  height: 100px;
  min-height: 47px;
}
#template-output-header {
  height: 43px;
  line-height: 43px;
}

#template-output {
  height: 500px;/*none of these are working?*/
}

#data-selector {
  margin-left: 0.5rem;
  padding: 2px 0;
}

.insert-sample {
    display: inline-block;
    /*width: 115px;
    height: 25px;*/
    background: #4E9CAF;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

/*** Loading Animation (Spinner) ***/
/* Based on http: //projects.lukehaas.me/css-loaders/ */
.loader {
  position: relative;
  height: 100%;
  display: block!important;
  overflow: hidden;
  text-align: center;
}
.loader > .loader-text, .loader > .loader-icon {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.loader > .loader-text {
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 14px;
  margin-top: -10px;
}
.loader > .loader-icon {
  position: absolute;
  top: 50%;
  width: 6rem;
  height: 6rem;
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
  border-top: 8px solid rgba(255, 255, 255, 0.1);
  border-right: 8px solid rgba(255, 255, 255, 0.1);
  border-bottom: 8px solid rgba(255, 255, 255, 0.1);
  border-left: 8px solid #6a2b66;
  border-radius: 50%;
  display: inline-block;
  margin-top: -3rem;
  margin-left: -20px;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
